.footer {
  width: 1000px;
  height: 100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  font-size: 12px;
  color: #11559d;
  background-color: #eaeaea;
  .right {
    flex: 1;
    .copyright {
      float: right;
    }
  }
}

@media screen and (max-width: 1024px) {
  .footer {
    width: 100%;
    flex-direction: column;
    height: 160px;
  }
}