footer {
  background-color: #eaeaea;
}
.footer {
  border-top: 5px solid #11559d;
  width: 1000px;
  height: 100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  font-size: 12px;
  color: #11559d;
  .right {
    flex: 1;
    .copyright {
      float: right;
    }
  }
}

@media screen and (max-width: 768px) {
  .footer {
    width: 100%;
    flex-direction: column;
    height: 180px;
  }
}