.header {
    position: relative;
    background: url(/assets/images/header-bg.jpg);
    height: 460px;
    .wrapper {
        position: relative;
        .links {
            color: #ffffff;
            position: absolute;
            top: 10px;
            right: 0;
            font-family: Tahoma, 宋体, arial;
            span {
                padding: 0 10px;
                border-right: 1px solid #ffffff;
                &:last-child {
                    border-right: none;
                }
            }
        }
        width: 1000px;
        background: url(/assets/images/wrapper-bg.jpg);
        margin: 0 auto;
        .logo {
            img {
                height: 80px;
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .header {
        .wrapper {
            width: 100%;
            .links {
                display: none;
            }
            .banner {
                img {
                    width: 100%
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .header {
        height: 350px;
        .wrapper {
            .logo {
                img {
                    width: 100%;
                }
            }
        }
    }
}